
/* GLOBAL */

* {
  box-sizing: border-box;
}

/* ARTICLE PAGE */

.ArticlePage {
   min-width: 600px;
   max-width: 600px;
   margin: 32px auto;
   font: 14px/24px sans-serif;
}

.ArticlePage header {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 8px;
  border-bottom: 2px solid black;
}

.ArticlePage header a {
  display: inline-block;
  width: 192px;
}

.ArticlePage .SearchBox {
  display: inline-block;
  width: 408px;
}

.ArticlePage header a:link,
.ArticlePage header a:visited {
  text-decoration: none;
}

.ArticlePage header a:hover,
.ArticlePage header a:active {
  text-decoration: underline;
}


/* ARTICLE BODY */

.ArticlePage .mw-body {
  padding: 0 !important;
  font-size: 16px;
  line-height: 28px;
}

.ArticlePage .infobox {
  float: right;
  margin-left: 32px;
}

.ArticlePage #titleHeading {
  margin: 64px 0 32px 0 !important;
}


/* SEARCH PAGE */

.SearchPage {
  max-width: 480px;
  margin: 32px auto;
  font: 16px/32px sans-serif;
}

.SearchPage h1,
.SearchPage h2 {
  background: #fff;
  text-align: center;
}

.SearchPage h1 {
  font-size: 64px;
  padding: 32px;
  margin: 32px 0;
}

.SearchPage h2 {
  font-size: 24px;
  padding: 16px;
  margin: 32px 0;
}

.SearchPage hr {
  border: none;
  border-bottom: 2px solid #000;
  width: 32px;
}

.SearchPage .SearchBox {
  width: 100%;
}

/* SEARCH BOX (ALL PAGES */

.SearchBox input {
  border: 2px solid transparent;
  outline: 0;
  font-size: 24px;
  font-weight: bold;
  padding: 16px 32px;
  box-sizing: border-box;
  width: 100%;
}

.SearchBox input:focus {
  border-color: black;
}

.SearchBox .searchItem {
  font-size: 24px;
  padding: 8px;
}
