
/* GLOBAL */

* {
  box-sizing: border-box;
}

dd {
  margin: 0;
}

/* ARTICLE PAGE */

.ArticlePage {
   min-width: 710px;
   max-width: 710px;
   margin: 32px auto;
   font: 14px/24px sans-serif;
}

.ArticlePage header {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 8px;
}

.ArticlePage .SearchBox {
  display: inline-block;
  width: 518px;
}

.ArticlePage header a {
  display: inline-block;
  width: 192px;
  color: #000;
}

.ArticlePage header a:link,
.ArticlePage header a:visited {
  text-decoration: none;
}

.ArticlePage header a:hover,
.ArticlePage header a:active {
  text-decoration: underline;
}


/* ARTICLE BODY */

.ArticleBody.deemphasized {
  opacity: 0.2;
}

.ArticleBody {
  padding-top: 64px;
  border-top: 2px solid black;
  transition: opacity 0.25s;
}

.ArticlePage .SearchBox input {
  padding: 8px 32px;
}

/* ARTICLE MEDIAWIKI CONTENT */

.ArticleBody .mw-body {
  padding: 0 !important;
  font-size: 16px;
  line-height: 28px;
}

.ArticleBody .infobox {
  float: right;
  margin-left: 32px;
}

.ArticleBody #titleHeading {
  margin: 0 0 32px 0 !important;
}

.ArticleBody .thumb {
  display: inline-block;
  margin: 0 24px 24px 0;
  vertical-align: top;
}

.ArticleBody .tracklist {
    margin: 0 !important;
}


/* SEARCH PAGE */

.SearchPage {
  max-width: 480px;
  margin: 32px auto;
  font: 16px/32px sans-serif;
}

.SearchPage h1,
.SearchPage h2 {
  background: #fff;
  text-align: center;
}

.SearchPage h1 {
  font-size: 64px;
  padding: 32px;
  margin: 32px 0;
}

.SearchPage h2 {
  font-size: 24px;
  padding: 16px;
  margin: 32px 0;
}

.SearchPage hr {
  border: none;
  border-bottom: 3px solid #333;
  width: 40px;
}

.SearchPage .SearchBox {
  width: 100%;
}

/* SEARCH BOX (ALL PAGES */

.SearchBox input {
  border: 2px solid transparent;
  outline: 0;
  font-size: 24px;
  font-weight: bold;
  padding: 16px 32px;
  box-sizing: border-box;
  width: 100%;
}

.SearchBox input:focus {
  border-color: black;
}

.SearchBox .searchItem {
  font-size: 24px;
  padding: 8px;
}
