body {
  max-width: 600px;
  margin: 32px auto;
  font: 16px/24px sans-serif;
}

.search {
  border-radius: 10px;
  border: 3px rgb(0, 0, 0, 0.5) solid;
  font-size: 22px;
  outline: 0;
  padding: 5px 10px;
  font-family: sans-serif;
}

.search:focus {
  border-color: rgb(53, 200, 82);
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.h1-datpedia {
  font-size: 48px;
  padding: 16px 16px;
  border-bottom: solid 4px black;
}

.h1-datpedia a {
  color: black;
  text-decoration: none;
}

.h1-datpedia a:active {
  color: #333;
  text-decoration: none;
}
